node_modules/
out/
dist/
*.tsbuildinfo
*.vsix
.vscode-test/


#------------------------------------------------------------------------------
# Thumbnails
._*
Thumbs.db
.Bridge*

# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
**/Network Trash Folder/
**/Temporary Items/
.apdisk
